/* 
Bright orange: #D9761C
Dark cyan: #006A87
Very dark cyan: #003F4F

Transparent white: rgba(255, 255, 255, 0.75)
Very light gray: #F2F2F2

font-family: "Lexend Deca", sans-serif;
font-family: "Big Shoulders Display", sans-serif;
*/

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
